In [1]:
import pandas as pd
import numpy as np
import os

from openpyxl import load_workbook
from itertools import islice
import math

# Fiabilité

In [2]:
df = pd.read_excel("../data/raw/20210105_MTBF vs MTBUR.xlsx", engine='openpyxl', sheet_name=0, index_col=None)
df.head()

,Index DF,Designation,NG DF,REF FAB SIMAT,MTBF,MTBUR
0,0,HDM AS332 M1e RENOVE OACI 2012,HM/COUGAR/AS532UL,00050501,NaN,NaN
1,22301,BLOC HYD PA_x000D_\n,145754555,702A10009211,484.489200,285.848628
2,223011,SERVO VALVE A,144569375,704A44810016,5609.297957,3309.485795
3,223012,SERVO VALVE B,144569375,704A44810016,5609.297957,3309.485795
4,223013,SERVO VALVE C,144569375,704A44810016,5609.297957,3309.485795

Si la distribution suit une loi exponentielle, on a $\lambda = \frac{1}{MTBF}$ et la probabilité de survie d'une pièce au temps $t$ c'est $P(x<t)=R(t)=e^{-\lambda t}$

In [3]:
def generate_data(mtbf, N):
    l = 1/mtbf

    times = np.random.sample(N) * (mtbf*3)
    probs = np.exp(-l * times) # proba de survie
    y = np.random.rand(len(probs)) < probs
    # si rand < prob, y = True (la pièce est cassée)
    return pd.DataFrame(list(zip(times, probs, y)), columns=['flight_time', 'survival_prob', 'state'])

In [4]:
mtbf = 5609.297957

df = generate_data(mtbf, 10000)

In [5]:
df.head()

    flight_time  survival_prob  state
0  13492.571029       0.090230  False
1   4105.316287       0.481005   True
2   7567.482638       0.259475  False
3  11414.447967       0.130692   True
4  10713.946831       0.148075   True